.report{
    width: 100%;
}
.report-menu{
    width: 120px;
    height: 600px;
    background-color: #dddddd;
    float: left;
}
.report-menu ul{
    text-align: center;
}
.report-menu ul li{
    cursor: pointer;
    padding: 15px 10px 10px;
}
.report-menu ul li:hover{
    background-color: #666666;
    color: #FFFFFF;
}
.report-con{
    float: right;
    width: 1000px;
    height: 600px;
}