<div class="addJobInformation">
    <div class="addJobInformation-top">
        <div class="addJobInformation-tips">
            <i class="glyphicon glyphicon-user"></i>
            <span>新增个人工作信息</span>
        </div>
        <div class="backToJobInformation">
            <button class="backToJobInformation-button" ui-sref="index.jobInformation">返回</button>
        </div>
    </div>
    <!--就业单位名称-->
    <div class="addJobInformation-details">
        <div class="addJobInformation-row">
            <div class="addJobInformation-flag">
                就业单位名称:
            </div>
            <div class="addJobInformation-content">
                <input class="addJobInformation-content-text" type="text" placeholder="请输入公司名称" ng-model="jobInfo.work_unit">
            </div>
        </div>
        <!--工作城市-->
        <div class="addJobInformation-row">
            <div class="addJobInformation-flag">
                工作城市:
            </div>
            <div class="addJobInformation-content">
                <input class="addJobInformation-content-text" type="text" placeholder="请输入公司所在城市名称" ng-model="jobInfo.work_country">
            </div>
        </div>
        <!--公司性质-->
        <div class="addJobInformation-row">
            <div class="addJobInformation-flag">
               公司性质:
            </div>
            <div class="addJobInformation-content">
                <select class="addJobInformation-content-select" ng-model="jobInfo.property" ng-options="x for x in companyNature">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <!--职位类别-->
        <div class="addJobInformation-row">
            <div class="addJobInformation-flag">
                职位类别:
            </div>
            <div class="addJobInformation-content">
                <select class="addJobInformation-content-select" ng-model="jobInfo.job_category" ng-options="x.comPosi for x in companyPosition" ng-change="querySelectption(jobInfo.job_category.po_id)">
                <!--<select class="addJobInformation-content-select" ng-model="jobinfo.job_category">-->
                    <option value="">请选择</option>
                    <!--<option value="" ng-change="querySelectption(1)">财务|人力资源|行政</option>-->
                    <!--<option value="" ng-change="querySelectption(2)">项目|质量|高级管理</option>-->
                </select>
            </div>
        </div>
        <!--从属职位-->
        <div class="addJobInformation-row">
            <div class="addJobInformation-flag">
                从属职位:
            </div>
            <div class="addJobInformation-content">
                <select class="addJobInformation-content-select" ng-model="jobInfo.position" ng-options="x.industry_name for x in companyPositionList">
                    <option value="">请选择</option>
                    <!--<option value="">销售业务</option>-->
                    <!--<option value="">销售管理</option>-->
                    <!--<option value="">销售行政／服务</option>-->
                </select>
            </div>
        </div>
        <!--月薪-->
        <div class="addJobInformation-row">
            <div class="addJobInformation-flag">
                月薪:
            </div>
            <div class="addJobInformation-content">
                <select class="addJobInformation-content-select" ng-model="jobInfo.salary" ng-options="x for x in companySalary">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <!--就业信息获取渠道-->
        <div class="addJobInformation-row">
            <div class="addJobInformation-flag">
                就业信息获取渠道:
            </div>
            <div class="addJobInformation-content">
                <select class="addJobInformation-content-select" ng-model="jobInfo.job_trench" ng-options="x for x in companyTrench">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <!--起始工作年份-->
        <div class="addJobInformation-row">
            <div class="addJobInformation-flag">
                起始工作年份:
            </div>
            <div class="addJobInformation-content input-group">
                <div class="input-group date form_date clickShowTimePicker beginWorkTime" data-date-format="yyyy-mm-dd">
                    <input type="text" ng-model="jobInfo.work_time">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--备注-->
        <div class="addJobInformation-row-textarea">
            <div class="addJobInformation-flag-textarea">
                备注:
            </div>
            <div class="addJobInformation-content-area">
                <textarea class="addJobInformation-content-textarea" ng-model="jobInfo.remarks"></textarea>
            </div>
        </div>
        <!--保存   取消-->
        <div class="addJobInformation-row-button">
            <div class="">
                <button class="addJobInformation-content-button addJobInformation-save" ng-click="addJobInformation(jobInfo)">保存</button>
                <button class="addJobInformation-content-button addJobInformation-cancel" ui-sref="index.jobInformation">取消</button>
            </div>
        </div>
    </div>
</div>