<div class="jobInformation">
    <div class="jobInformation-top">
        <div class="jobInformation-Tips">
            <i class="glyphicon glyphicon-user"></i>
            <span>完善个人工作信息</span>
        </div>
        <div class="add-jobInformation">
            <button class="add-jobInformation-button" ui-sref="index.addJobInformation({param:2})">新增就业信息</button>
        </div>
    </div>

    <div class="jobInformation-table">
        <table border="1" class="jobInformationTable" ng-table="jobTableParams">
            <thead>
            <tr>
                <th style="width: 66px;">
                    <input type="checkbox">
                    <span class="table-title">全选</span>
                </th>
                <th style="width: 65px">
                    <span class="table-title">姓名</span>
                </th>
                <th style="width: 84px;">
                    <span class="table-title">公司性质</span>
                </th>
                <th style="width: 105px;">
                    <span class="table-title">所在地区</span>
                </th>
                <th style="width: 425px;">
                    <span class="table-title">工作信息</span>
                </th>
                <th style="width: 294px;">
                    <span class="table-title">操作</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="info in jobInfos">
                <td>
                    <input type="checkbox">
                    {{$index+1}}
                </td>
                <td>
                    <span ng-bind="info.user_name"></span>
                </td>
                <td>
                    <span ng-bind="info.company_nature"></span>
                </td>
                <td>
                    <span ng-bind="info.work_country"></span>
                </td>
                <td>
                    <span>{{info.work_time | date:'yyyy年MM月dd日'}} 从事于{{info.work_unit}}</span>
                </td>
                <td>
                    <div class="operation-teacherUsers">
                        <button class="operation-button" ui-sref="index.addJobInformation({param:1,workTime:info.work_time,isView:true})">查看</button>
                        <button class="operation-button" ui-sref="index.addJobInformation({param:1})">编辑</button>
                        <button class="operation-button" ng-click="removerJobInformation(info.work_time,info.user_name)">删除</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>