<!--个人信息详情-->
<div class="seeTeacherDetails">
    <div class="seeTeacherDetails-top">
        <div class="seeTeacherDetails-title">学生详细信息</div>
        <div class="seeTeacherDetails-changeStudentPassword">
            <button ng-click="changeStudentPassword()">修改密码</button>
        </div>
    </div>
    <div class="seeTeacherDetails-content">
        <div class="teacherDetails-img" ng-if="!stuInfos.url_img">
            <img src="image/person.jpg" alt="{{stuInfos.user_name}}">
            <div class="teacherDetails-img-tips">
                <span>该学生还没有照片</span>
            </div>
        </div>
        <div class="teacherDetails-img" ng-if="stuInfos.url_img">
            <img src="{{stuInfos.url_img}}" alt="{{stuInfos.user_name}}">
            <!--<div class="teacherDetails-img-tips">-->
            <!--<span></span>-->
            <!--</div>-->
        </div>
        <div class="teacherDetails-content">
            <div class="teacherDetails-row">
                <div class="teacherDetails-colLeft">
                    <div class="teacherDetails-flag">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:</div>
                    <div class="teacherDetails-con" >
                        <input type="text" ng-model="stuInfos.user_name">
                    </div>
                </div>
                <div class="teacherDetails-colRight">
                    <div class="teacherDetails-flag">所属专业:</div>
                    <div class="teacherDetails-con">
                        <input type="text"  ng-model="stuInfos.specialty">
                    </div>
                </div>
            </div>
            <div class="teacherDetails-row">
                <div class="teacherDetails-colLeft">
                    <div class="teacherDetails-flag">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号:</div>
                    <div class="teacherDetails-con">
                        <input type="text" ng-model="stuInfos.user_num">
                    </div>
                </div>
                <div class="teacherDetails-colRight">
                    <div class="teacherDetails-flag">是否就业:</div>
                    <div class="teacherDetails-con">
                        <input type="text" ng-model="stuInfos.is_work">
                    </div>
                </div>
            </div>
            <div class="teacherDetails-row">
                <div class="teacherDetails-colLeft">
                    <div class="teacherDetails-flag">联系电话:</div>
                    <div class="teacherDetails-con">
                        <input type="text" ng-model="stuInfos.phone">
                    </div>
                </div>
                <div class="teacherDetails-colRight">
                    <div class="teacherDetails-flag">工作邮箱:</div>
                    <div class="teacherDetails-con">
                        <input type="text" ng-model="stuInfos.email">
                    </div>
                </div>
            </div>
            <div class="teacherDetails-row">
                <div class="teacherDetails-colLeft">
                    <div class="teacherDetails-flag">就业详情:</div>
                    <div class="teacherDetails-con">
                        <select class="teacherDetails-con-options">
                            <option ng-repeat="clazz in stuInfos.clazz" ng-bind="clazz.clazzName"></option>
                        </select>
                    </div>
                </div>
                <div class="teacherDetails-colRight">
                    <div class="teacherDetails-flag">现住址:</div>
                    <div class="teacherDetails-con">
                        <input type="text" ng-model="stuInfos.current_address">
                    </div>
                </div>
            </div>
            <div class="teacherDetails-row-textarea">
                <div class="teacherDetails-flag">个人简介:</div>
                <div class="teacherDetails-con">
                    <textarea class="teacherDetails-area" ng-model="stuInfos.introduce"></textarea>
                </div>
            </div>
            <div class="teacherDetails-row">
                <div class="teacherDetails-buttons">
                    <button class="teacherDetails-button" ng-click="updateStuInfo(stuInfos)">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>