<style>
    .changePassword{
        width: 380px;
    }
    .changePassword-top{
        overflow: hidden;
    }
    .changePassword-topics{
        float: left;
        border-bottom: 1px dashed #080808;
        font-size: 18px;
    }
    .close-icno{
        float: right;
        cursor: pointer;
    }
    .changePassword-content{
        margin: 30px 0 0 25px;
    }
    .changeMessage{
        overflow: hidden;
        height: 30px;
        line-height: 30px;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .changeMessage-flag{
        float: left;
    }
    .changeMessage-details{
        float: left;
    }
    .changeMessage-details>input{
        width: 240px;
        height: 27px;
        padding-left: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #080808;
    }
    .changePassword-buttons{
        width: 380px;
        margin-top: 30px;
        text-align: center;
        margin-bottom: 10px;
    }
    .changePassword-button{
        width: 70px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #080808;
        background-color: #c0c0c0;
    }
    .changePassword-button:hover{
        color: #c0c0c0;
        background-color: #080808;
    }
    .changePassword-sure{
        margin-right: 35px;
    }
</style>
<div class="changePassword">
    <div class="changePassword-top">
        <div class="changePassword-topics">修改密码</div>
        <div class="close-icno">
            <i class="glyphicon glyphicon-remove" ng-click="closeThisDialog()"></i>
        </div>
    </div>
    <div class="changePassword-content">
        <div class="changeMessage">
            <div class="changeMessage-flag">修改密码：</div>
            <div class="changeMessage-details">
                <input type="text">
            </div>
        </div>
        <div class="changeMessage">
            <div class="changeMessage-flag">确认密码：</div>
            <div class="changeMessage-details">
                <input type="text">
            </div>
        </div>
    </div>
    <div class="changePassword-buttons">
        <button class="changePassword-sure changePassword-button">确认</button>
        <button class="changePassword-cancel changePassword-button" ng-click="closeThisDialog()">取消</button>
    </div>
</div>