.homeContainer{
    width: 1400px;
    height: 100%;
}
.homeContainerList{
    width: 230px;
    min-height: 640px;
    background-color: #1c2b36 ;
    color: #869fb1;
    float: left;
    border-right: 1px solid #080808;
}
.navRoleHeight{
    height: 1900px;
}
.chartList{

}
.chartList ul li{
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.chartList ul li:hover{
    border-top: 1px solid #080808;
    border-bottom: 1px solid #080808;
    background-color: #c3d0d9;
    color: #1c2b36;
}
.chartCon{
    width: 1170px;
    min-height: 640px;
    max-height: 1900px;
    margin-left: 230px;
    overflow: hidden;
}
.bottom{
    width: 1175px;
    height: 50px;
    border-top:1px solid #080808;
    line-height: 50px;
    text-align: center;
    margin-left: 230px;
}
.clickThisNav{
    background-color: #c3d0d9;
    color: #1c2b36;
}