<div class="homeContainer">
    <div class="homeContainerList" ng-class="{'navRoleHeight': state.includes('index.charts')}">
        <div class="chartList" ng-if="!loginType">
            <ul>
                <li ng-class="{'clickThisNav': state.includes('index.charts')}" ui-sref="index.charts">总揽</li>
            </ul>
        </div>
        <!--学生-->
        <div class="chartList" ng-if="loginType == 3">
            <ul>
                <li ng-class="{'clickThisNav': state.includes('index.charts')}" ui-sref="index.charts">总揽</li>
                <li ng-class="{'clickThisNav': state.includes('index.studentPersonInformation')}" ui-sref="index.studentPersonInformation">个人信息</li>
                <li ng-class="{'clickThisNav': state.includes('index.jobInformation')}" ui-sref="index.jobInformation">工作信息</li>
            </ul>
        </div>
        <!--教师-->
        <div class="chartList" ng-if="loginType == 2">
            <ul>
                <li ng-class="{'clickThisNav': state.includes('index.charts')}" ui-sref="index.charts">总揽</li>
                <li ng-class="{'clickThisNav': state.includes('index.perfectTeacherInformation')}" ui-sref="index.perfectTeacherInformation">完善信息</li>
                <li ng-class="{'clickThisNav': state.includes('index.manageClassroom')}" ui-sref="index.manageClassroom">管理班级</li>
            </ul>
        </div>
        <!--Admin-->
        <div class="chartList" ng-if="loginType == 1">
            <ul>
                <li ng-class="{'clickThisNav': state.includes('index.charts')}" ui-sref="index.charts">总揽</li>
                <li ng-class="{'clickThisNav': state.includes('index.admin')}" ui-sref="index.admin">管理员入口</li>
            </ul>
        </div>
    </div>
    <div class="chartCon" ui-view="viewDetails"></div>
    <div class="bottom">
        <div class="copyRight">
            &copy;2017届毕业生毕业作品&nbsp;&nbsp;&nbsp;&nbsp;作者 : 2013级软件工程G3班石一龙
        </div>
    </div>
</div>
