<nav class="topbar-main">
    <div class="topbar" ui-sref="index.charts">
        <img class="topbar-logo" src="image/xxxy-yh.png" alt="山西大学商务学院信息学院"/>
        <span class="topbar-title">毕业生跟踪调查网</span>
    </div>
    <div class="userLogIn">
        <div class="logIn" ui-sref="login" ng-if="!userName">
            <i class="glyphicon glyphicon-user"></i>
            <span>登陆</span>
        </div>
        <div class="logIn" ng-if="userName">
            <i class="glyphicon glyphicon-user"></i>
            <span ng-bind="userName"></span>
            <span ng-click="clearUser()" >注销</span>
        </div>
    </div>
</nav>
