<div class="adminManager">
    <div class="teacherUsers">
        <div class="teacherUsersTitle">
            <i class="glyphicon glyphicon-user"></i>
            <span>教师用户信息列表</span>
        </div>
        <div class="addTeacherUser">
            <button class="addTeacher" ng-click="addTeacher()">添加用户</button>
        </div>
        <div class="header-menu">
            <input type="text" class="menu-search" placeholder="请输入关键字">
            <i class="glyphicon glyphicon-search menu-search-icno"></i>
        </div>
    </div>
    <div class="teacherUsersList">
        <table border="1" class="teacherUsersTable">
            <thead>
                <tr>
                    <th style="width: 91px;">
                        <input type="checkbox">
                        <span class="table-title">全选</span>
                    </th>
                    <th style="width: 87px">
                        <span class="table-title">姓名</span>
                    </th>
                    <th style="width: 115px;">
                        <span class="table-title">工号</span>
                    </th>
                    <th style="width: 145px;">
                        <span class="table-title">职务</span>
                    </th>
                    <th style="width: 200px;">
                        <span class="table-title">注册时间</span>
                    </th>
                    <th style="width: 400px;">
                        <span class="table-title">操作</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="details in allTeachers">
                    <td>
                        <input type="checkbox">
                        {{$index+1}}
                    </td>
                    <td>
                        <span ng-bind="details.user_name"></span>
                    </td>
                    <td>
                        <span ng-bind="details.user_num"></span>
                    </td>
                    <td>
                        <span ng-bind="details.position"></span>
                    </td>
                    <td>
                       <span ng-bind="details.create_date"></span>
                    </td>
                    <td>
                        <div class="operation-teacherUsers">
                            <button class="operation-button" ng-click="cheangePassword()">修改密码</button>
                            <button class="operation-button" ng-click="seeTeacherDetails()">查看信息</button>
                            <button class="operation-button" ng-click="removerTeacher()">删除</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>