<div class="classroomManage">
    <div class="studentUsers-top">
        <div class="studentUsersTitle">
            <i class="glyphicon glyphicon-user"></i>
            <span>班级信息列表</span>
        </div>
        <div class="addStudentUser">
            <button class="addStudent" ng-click="addStudent()">添加学生</button>
        </div>
        <div class="header-menu">
            <input type="text" class="menu-search" placeholder="请输入关键字" ng-model="sesrchText">
            <i class="glyphicon glyphicon-search menu-search-icno" ng-click="getAllStudent(sesrchText)"></i>
        </div>
    </div>
    <div class="studentUsersTable">
        <table border="1" class="teacherUsersTable" ng-table="tableParams">
            <thead>
            <tr>
                <th style="width: 91px;">
                    <input type="checkbox">
                    <span class="table-title">全选</span>
                </th>
                <th style="width: 140px">
                    <span class="table-title">学号</span>
                </th>
                <th style="width: 115px;">
                    <span class="table-title">姓名</span>
                </th>
                <th style="width: 145px;">
                    <span class="table-title">注册时间</span>
                </th>
                <th style="width: 108px;">
                    <span class="table-title">是否就业</span>
                </th>
                <th style="width: 400px;">
                    <span class="table-title">操作</span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stuInfo in allStudets">
                <td>
                    <input type="checkbox">
                    {{$index+1}}
                </td>
                <td>
                    <!--<span ng-bind="details.name"></span>-->
                    <span ng-bind="stuInfo.user_num"></span>
                </td>
                <td>
                    <!--<span ng-bind="details.unit"></span>-->
                    <span ng-bind="stuInfo.user_name"></span>
                </td>
                <td>
                    <!--<span ng-bind="details.position"></span>-->
                    <span ng-bind="stuInfo.create_date"></span>
                </td>
                <td>
                    <!--<span ng-bind="details.regDate"></span>-->
                    <span ng-bind="stuInfo.is_work"></span>
                </td>
                <td>
                    <div class="operation-teacherUsers">
                        <button class="operation-button" ng-click="cheangePassword(stuInfo.student_id,stuInfo.user_num)">修改密码</button>
                        <button class="operation-button" ng-click="seeStudentDetails(stuInfo.student_id)">查看信息</button>
                        <button class="operation-button" ng-click="removerStudent(stuInfo.user_num,stuInfo.user_name)">删除</button>
                        <button class="operation-button" ng-click="setEmailDate()">设置日期</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="studentUsersBottom"></div>
</div>